# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=f1_app
POSTGRES_POOL_MIN=2
POSTGRES_POOL_MAX=10

# Listener
LISTEN_IP=0.0.0.0
LISTEN_PORT=20777
LOG_LEVEL=INFO
LOG_PATH=/var/log/f1-listener/listener.log
